# output files
outputs/
output_SA*
Sensitivity_Analysis/*.sh
*.feather
.DS_Store
*.o
*.log
*.err
project

*.pyc
Sensitivity_Analysis/df_complete.db
/Sensitivity_Analysis/*.svg
/Sensitivity_Analysis/*.feather
