abc_atlas_access @ git+https://github.com/alleninstitute/abc_atlas_access@e4a6696b44788088119238965f766db640b7ebb2
alabaster==0.7.16
anndata==0.11.1
annotated-types==0.6.0
anyio==3.6.2
app-model==0.2.6
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
array_api_compat==1.9.1
arrow==1.2.3
arviz==0.18.0
asttokens==2.4.1
attrs==22.1.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
boto3==1.33.5
botocore==1.33.13
build==1.2.1
cachetools==5.3.3
cachey==0.2.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
cons==0.4.6
contourpy==1.0.6
cryptography==43.0.3
cycler==0.11.0
dask==2024.4.2
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
dm-tree==0.1.8
docstring_parser==0.16
docutils==0.21.1
easydev==0.13.2
entrypoints==0.4
et-xmlfile==1.1.0
etuples==0.3.9
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.16.2
filelock==3.15.4
fonttools==4.38.0
fqdn==1.5.1
freetype-py==2.4.0
fsspec==2024.3.1
gensim==4.3.3
ghp-import==2.1.0
gseapy==1.0.6
h5netcdf==1.3.0
h5py==3.9.0
HeapDict==1.0.1
hsluv==5.0.4
idna==3.4
igraph==0.10.2
imageio==2.34.0
imagesize==1.4.1
importlib_metadata==7.1.0
in-n-out==0.2.0
iniconfig==2.0.0
ipykernel==6.29.5
ipympl==0.9.3
ipython==8.29.0
ipython-genutils==0.2.0
ipywidgets==8.0.3
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.0.1
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.4
kiwisolver==1.4.4
lazy_loader==0.4
legacy-api-wrap==1.4
leidenalg==0.9.0
line_profiler==4.1.3
llvmlite==0.42.0
locket==1.0.0
logical-unification==0.4.6
loompy==3.0.7
magicgui==0.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.3
matplotlib-inline==0.1.7
mdurl==0.1.2
miniKanren==1.0.3
mistune==2.0.4
moto==5.0.20
mpmath==1.3.0
mtalg==1.1.2
multipledispatch==1.0.0
napari==0.4.19.post1
napari-console==0.0.9
napari-plugin-engine==0.2.0
napari-plugin-manager==0.1.0a2
napari-svg==0.1.10
natsort==8.2.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
nest-asyncio==1.6.0
networkx==2.8.8
nltk==3.9.1
notebook==6.5.2
notebook_shim==0.2.2
npe2==0.7.5
numba==0.59.1
numpy==1.24.4
numpy-groupies==0.11.2
numpydoc==1.7.0
openpyxl==3.1.2
packaging==24.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.4
partd==1.4.1
patsy==0.5.3
pcdl==3.2.10
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.3.0
Pint==0.23
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.1
prometheus-client==0.15.0
prompt_toolkit==3.0.48
psutil==6.1.0
psygnal==0.11.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.6.2
pycogaps==0.0.1
pyconify==0.1.6
pycparser==2.21
pydantic==2.7.0
pydantic-compat==0.1.2
pydantic_core==2.18.1
Pygments==2.18.0
pymc==5.16.1
pynndescent==0.5.8
PyOpenGL==3.1.7
pyparsing==3.0.9
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQt6-Qt6==6.6.3
PyQt6-sip==13.6.0
pyrsistent==0.19.2
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
pytensor==2.23.0
pytest==8.3.3
python-dateutil==2.9.0.post0
python-json-logger==2.0.4
pytz==2022.6
PyYAML==6.0.1
pyzmq==26.2.0
qtconsole==5.4.0
QtPy==2.3.0
regex==2024.11.6
requests==2.32.3
responses==0.25.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
s3transfer==0.8.2
scanpy==1.10.4
scikit-image==0.23.2
scikit-learn==1.3.1
scipy==1.14.1
seaborn==0.13.2
Send2Trash==1.8.0
session-info==1.0.0
shellingham==1.5.4
shiboken6==6.7.0
SimpleITK==2.4.0
six==1.16.0
smart-open==7.0.5
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
spectrum==0.8.1
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
statsmodels==0.14.0
stdlib-list==0.8.0
superqt==0.6.3
sympy==1.12
tabulate==0.9.0
terminado==0.17.1
texttable==1.6.6
threadpoolctl==3.1.0
tifffile==2024.4.18
tinycss2==1.2.1
tomli==2.0.1
tomli_w==1.0.0
toolz==0.12.1
tornado==6.4.1
tqdm==4.64.1
traitlets==5.14.3
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.3
uri-template==1.2.0
urllib3==1.26.15
vispy==0.14.2
wcwidth==0.2.13
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==3.1.2
widgetsnbextension==4.0.4
wrapt==1.16.0
xarray==2024.6.0
xarray-einstats==0.7.0
xmltodict==0.14.2
zipp==3.18.1
